<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/index.css">
</head>
<body>
    <main>
<section>
    <p>Projects</p>
    <div class="container">
        <div class="card">
            <p class="metn">Summer House</p>
        </div>
        <div class="card sekil">
            <p class="metn">Brick House</p>
        </div>
        <div class="card sekil1">
            <p class="metn">Renovated</p>
        </div>
        <div class="card sekil2">
            <p class="metn">Barn House</p>
        </div>
        <div class="card sekil3">
            <p class="metn">Summer House</p>
        </div>
        <div class="card sekil4">
            <p class="metn">Brick House</p>
        </div>
        <div class="card sekil5">
            <p class="metn">Renovated</p>
        </div>
        <div class="card sekil6">
            <p class="metn">Barn house</p>
        

    </div>

</section>
    </main>
</body>
</html>